*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-lightone: #e5e5fa;
  --color-lighttwo: #b2b2f0;
  --color-lightthree: #7f7fe6;
  --color-middleone: #4c4cdc;
  --color-middletwo: #0000cd;
  --color-middlethree: #00007b;
  --color-darkone: #00003d;
  --color-darktwo: #000014;
  --color-info: #ffff00;
  --color-error: #ff0000;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em;
  background-color: var(--color-darkone);
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper h1 {
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-lighttwo);
  padding-bottom: 0.8em;
  margin-bottom: 0.6em;
  border-bottom: 0.04em solid var(--color-lighttwo);
}
.wrapper p {
  font-size: 1rem;
  color: var(--color-lightone);
  text-align: center;
  padding-bottom: 0.8em;
}
.wrapper ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  color: var(--color-lighttwo);
  padding-bottom: 1em;
}
.wrapper li {
  margin-bottom: 0.4em;
}
.wrapper .error {
  font-size: 1rem;
  padding-bottom: 1.8em;
  color: var(--color-error);
  visibility: hidden;
}
.wrapper .actionerror {
  visibility: visible;
}
.wrapper .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2em;
}
.wrapper .info label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 1rem;
  color: var(--color-lighttwo);
  margin: 0.6em 0 0.2em;
}
.wrapper .info input {
  width: 100%;
  padding: 0.2em 0.4em;
  font-size: 1.4rem;
  background: none;
  border-radius: 0.2em;
  border: none;
  color: var(--color-lightone);
  border-bottom: 0.04em solid var(--color-lightthree);
  border-right: 0.04em solid var(--color-lightthree);
}
.wrapper .info select {
  width: 100%;
  padding: 0.2em 0.4em;
  font-size: 1.4rem;
  background-color: var(--color-darkone);
  border: none;
  border-radius: 0.2em;
  color: var(--color-lightone);
  border-bottom: 0.04em solid var(--color-lightthree);
  border-right: 0.04em solid var(--color-lightthree);
}
.wrapper .btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em;
}
.wrapper .btns button {
  width: 42%;
  padding: 0.4em 0.2em;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: none;
  border: 0.04em solid var(--color-middleone);
  border-radius: 0.4em;
  -webkit-box-shadow: 0.2em 0.2em 0.8em var(--color-middletwo);
          box-shadow: 0.2em 0.2em 0.8em var(--color-middletwo);
  color: var(--color-lightone);
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.wrapper .btns button:hover {
  background: var(--color-middletwo);
}

.advice {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advice__car {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.04em solid var(--color-middletwo);
  border-radius: 0.4em;
  margin-bottom: 1em;
  background-color: var(--color-darkone);
  z-index: 1;
}
.advice__car p {
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  color: var(--color-lightone);
}
.advice__car spam {
  color: var(--color-info);
}
.advice__sell {
  width: 100%;
  height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0.04em solid var(--color-middletwo);
  border-radius: 0.4em;
  background-color: var(--color-darktwo);
  padding: 2em;
}
.advice__sell h3 {
  font-size: 1.4rem;
  color: var(--color-lighttwo);
  margin-bottom: 0.4em;
}
.advice__sell--info {
  font-size: 1rem;
  color: var(--color-info);
  padding-bottom: 0.5em;
}
.advice__sell--final {
  color: var(--color-error);
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
    padding-bottom: 0.4em;
  }
  p {
    font-size: 1.4rem;
  }
  ul {
    width: 40%;
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0rem 4rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper {
    width: 50%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 8em;
    border-right: 0.04em solid var(--color-lighttwo);
  }
  .wrapper h1 {
    font-size: 2.2rem;
    padding-bottom: 0.2em;
  }
  .wrapper p {
    font-size: 1.2rem;
  }
  .wrapper .error {
    font-size: 1.8rem;
  }
  .wrapper ul {
    width: 60%;
    font-size: 1.2rem;
  }
  .wrapper .btns button {
    width: 35%;
    margin-bottom: 0;
  }
  .advice {
    padding: 0;
    width: 45%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advice__car {
    height: 40%;
    padding-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advice__sell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 50%;
  }
  .advice__sell h3 {
    font-size: 2rem;
    padding-bottom: 2em;
  }
  .advice__sell--info {
    font-size: 1.4rem;
  }
  .advice__sell--final {
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=style.css.map */